form {
   width: 90%;
   max-width: 450px;
   margin: 30px auto;
}

input {
   width: 100%;
   height: 35px;
   padding: 1.5rem;
   font-size: 1.8rem;
   border-radius: 15px;
   border: 1.4px solid #ccc;
}

input:focus {
   outline: none;
   border: 1px solid #1870f0;
   box-shadow: 0 0 10px #719ece8c;
}

@media screen and (min-width: 700px) {
   form {
      position: absolute;
      width: 300px;
      top: 0;
      /* left: 50%; */
      right: 0;
      margin: 10px 20px;
   }
}
